@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&family=Secular+One&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppind', sans-serif;
}

section{
    position: relative;
    height: 100vh;
    display: flex;
    background: #000;
}

section .screen{
    position: relative;
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    transition: 1s;
}
section:hover .screen{
    opacity: 0.1;
}
section .screen:hover{
    flex-grow: 5;
    opacity: 1;
}
section .screen:nth-child(1){
    background: url(img/galo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
section .screen:nth-child(2){
    background: url(img/cacho.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
section .screen:nth-child(3){
    background: url(img/preto.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
section .screen .content{
    position: absolute;
    width: 400px;
    height: auto;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: 0.5s;
    text-align: justify;
}
section .screen:hover .content{
    transform: translateX(0);
    transition-delay: 1s;
}
section .screen .content h2{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
    font-size: 24px;
    color: #ed363a;
    margin-bottom: 10px;
}
section .screen .content p{
    margin: 0;
    padding: 0;
    text-align: left;
}
